<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta"><%= article.created_at.strftime('%B %e, %Y') %> by <a href="#">Karine</a> in <%= article.category.name %></p>

  <p><%= truncate(article.body, length: 150) %></p>

  <p><%= link_to 'Continue lendo...', article, class: 'btn btn-link' %></p>

  <%= link_to 'Editar', edit_article_path(article), class: 'btn btn-secondary' %>
  <%= link_to 'Excluir', article_path(article), method: :delete, data: {confirm: 'Você tem certeza?'}, class: 'btn btn-danger' %>
</article>