<%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :body, input_html: { rows: 10 } %>
  <%= f.association :category, collection: @categories, prompt: "Selecione" %>
  <br>

  <p>
    <%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
  </p>

<% end %>